{
  "openapi": "3.0.0",
  "info": {
    "sdk_desc": "update_product_example",
    "sdk_version": "2.7.10",
    "version": "v2",
    "title": "Merchent APIs",
    "description": "SallaSDK offers developers seamless integration and interaction with the Salla platform's APIs, enabling the creation of customized e-commerce solutions with ease and efficiency.\n",
    "termsOfService": "https://salla.sa/site/terms/",
    "contact": {
      "name": "Salla",
      "url": "https://www.salla.sa",
      "email": "support@salla.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.salla.dev/admin/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List Customers",
        "description": "You can list all customers related to your store directly from this endpoint. Also, it allows you to filter them using a keyword, the endpoint would retrieve any customer matches this keyword in their data whether in their mobile number or email or name.",
        "operationId": "List-Customers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Pagination page number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "<br>- `customer.mobile` | 966511804534 <br>- `customer.name` | Del John <br>- `shipping_number` | Find a specific shipment by its ID from [here](https://docs.salla.dev/docs/merchant/ef30fb0e90b00-list-order-shipments) <br>- `reference_id` | 613398835 <br>- `tag_name` | Find a specific tag by its name from [here](https://docs.salla.dev/docs/merchant/c301cfb379e20-list-tags)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Customers and their corresponding informations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomersResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 2075683582,
                          "first_name": "Ahmed",
                          "last_name": "Ali",
                          "mobile": 777777777,
                          "mobile_code": "967",
                          "email": "ahmedali@test.test",
                          "urls": {
                            "customer": "https://shtara.com/profile",
                            "admin": "https://shtara.com/profiley"
                          },
                          "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                          "gender": "male",
                          "city": "Riyadh",
                          "country": "السعودية",
                          "location": "null",
                          "updated_at": {
                            "date": "2020-04-02 22:43:26.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "groups": [
                            11323141,
                            11323142
                          ]
                        },
                        {
                          "id": 2075683581,
                          "first_name": "Ali",
                          "last_name": "Ahmed",
                          "mobile": 777777777,
                          "mobile_code": "967",
                          "email": "aliahmed@test.test",
                          "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                          "gender": "male",
                          "city": "Riyadh",
                          "country": "السعودية",
                          "location": "null",
                          "updated_at": {
                            "date": "2020-04-02 22:43:26.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "groups": [
                            11323141,
                            11323142
                          ]
                        }
                      ],
                      "pagination": {
                        "count": 2,
                        "total": 2,
                        "perPage": 15,
                        "currentPage": 1,
                        "totalPages": 1,
                        "links": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer",
        "description": "Customers can be created within your store at Salla by providing the required data in this endpoint. \n\nYou may need the [Countries List](https://docs.salla.dev/docs/merchant/b3A6ODUwMzM4-list-countries) endpoint to get the mobile and country codes.\n\nAlso, you may use the [Customer Groups list](https://docs.salla.dev/docs/merchant/b3A6NTU1NzcwNg-list-customer-groups) to add the group's IDs for the new customer. Kindly note that customer's email and mobile number are unique.",
        "operationId": "Create-Customer",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "first_name": "Ahmed",
                    "last_name": "Ali",
                    "mobile": "777777777",
                    "mobile_code_country": "+967",
                    "country_code": "SA",
                    "gender": "female",
                    "birthday": "1997-06-03",
                    "email": "ahmedali@test.test",
                    "groups": [
                      "11323141",
                      "11323142"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2075683582,
                        "first_name": "Ahmed",
                        "last_name": "Ali",
                        "mobile": 777777777,
                        "mobile_code": "967",
                        "email": "ahmedali@test.test",
                        "urls": {
                          "customer": "https://shtara.com/profile",
                          "admin": "https://shtara.com/profiley"
                        },
                        "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                        "gender": "male",
                        "city": "Riyadh",
                        "country": "السعودية",
                        "location": "null",
                        "updated_at": {
                          "date": "2020-04-02 22:43:26.000000",
                          "timezone_type": 3,
                          "timezone": "Asia/Riyadh"
                        },
                        "groups": [
                          11323141,
                          11323142
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/{customer}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Customer Details",
        "description": "you can return a specific customer's Details by providing the ID of the customer you want to get his details in the *customer* path parameter.",
        "operationId": "Customer-Details",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 2123134212
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful query of information of a specific customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2075683582,
                        "first_name": "Ahmed",
                        "last_name": "Ali",
                        "mobile": 777777777,
                        "mobile_code": "967",
                        "email": "ahmedali@test.test",
                        "urls": {
                          "customer": "https://shtara.com/profile",
                          "admin": "https://shtara.com/profiley"
                        },
                        "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                        "gender": "male",
                        "city": "Riyadh",
                        "country": "السعودية",
                        "country_code": "sa",
                        "location": "null",
                        "updated_at": {
                          "date": "2020-04-02 22:43:26.000000",
                          "timezone_type": 3,
                          "timezone": "Asia/Riyadh"
                        },
                        "groups": [
                          11323141,
                          11323142
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Customer",
        "description": "Update a customer using this Endpoint. Provide the ID of the customer you want to update in the *customer* path parameter. The response will be all the customer updated data.\n\n>💡 __Note__\n>\n> The existing value of all skipped parameters will remain unchanged.",
        "operationId": "Update-Customer",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 2123134212
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "first_name": "Ahmed",
                    "last_name": "Ali",
                    "email": "ahmed.ali@test.test",
                    "gender": "female",
                    "birthday": "1997-06-03"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2075683582,
                        "first_name": "Ahmed",
                        "last_name": "Ali",
                        "mobile": 560716138,
                        "mobile_code": "999",
                        "email": "ahmed.ali@test.test",
                        "urls": {
                          "customer": "https://shtara.com/profile",
                          "admin": "https://shtara.com/profiley"
                        },
                        "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                        "gender": "male",
                        "city": "Riyadh",
                        "country": "السعودية",
                        "location": "null",
                        "updated_at": {
                          "date": "2020-04-02 22:43:26.000000",
                          "timezone_type": 3,
                          "timezone": "Asia/Riyadh"
                        },
                        "groups": [
                          11323141,
                          11323142
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete Customer",
        "description": "Delete a customer from the store customers list by providing the ID of the customer you want to delete in the *customer* path parameter.",
        "operationId": "Delete-Customer",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 2123134212
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object Deleted Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 202,
                      "success": true,
                      "data": {
                        "message": "The Object has been removed successfully",
                        "code": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/blacklist/{customer}": {
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Ban Customer",
        "description": "You can use this endpoint to ban (Add to blacklist) one of your customers by providing the ID of the customer you want to ban in the *customer* path parameter.\n\nBanned customer won't be able to create new orders. \n\n>💡 __Note__\n>\n>Banned customers can login to the store.",
        "operationId": "Ban-Customer",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 2123134212
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerBanRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "reason": "untrusted customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer Banned Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBlacklistResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 0,
                      "success": true,
                      "data": {
                        "id": 0,
                        "first_name": "string",
                        "last_name": "string",
                        "mobile": 0,
                        "mobile_code": "string",
                        "email": "string",
                        "avatar": "string",
                        "gender": "string",
                        "city": "string",
                        "country": "string",
                        "currency": "string",
                        "location": "string",
                        "updated_at": {
                          "date": "string",
                          "timezone_type": 0,
                          "timezone": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Un-Ban customer",
        "description": "You can use this endpoint to ub-ban (remove from blacklist) one of banned customers by providing the ID of the customer you want to un ban in the *customer* path parameter.",
        "operationId": "Un-ban-Customer",
        "parameters": [
          {
            "name": "customer",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 2123134212
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Object Deleted Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 202,
                      "success": true,
                      "data": {
                        "message": "The Object has been removed successfully",
                        "code": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/groups": {
      "get": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "List Customer Groups",
        "description": "This endpoint allows you to list all the customer groups in your store. Customer groups are aiming to divide customers into smaller groups instead of the default customers group to be able to serve them better and to determine their needs and also give each group special treatment.",
        "operationId": "List-Groups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Pagination page number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call returns a payload that contains a current list of the store customers groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupsResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 2075683582,
                          "name": "VIP Customers"
                        },
                        {
                          "id": 2075683583,
                          "name": "Golden Customers"
                        }
                      ],
                      "pagination": {
                        "count": 2,
                        "total": 2,
                        "perPage": 15,
                        "currentPage": 1,
                        "totalPages": 1,
                        "links": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "post": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "Create Group",
        "description": "This Endpoint allows you to create customer groups by providing the group name which is required and the conditions (similarities between group members) and the features that the group members will have.\n\n**type** may be one of these \n1. total_sales\n2. total_orders\n3. store_rating\n4. doesnt_have_orders\n \nand the **symbols** may be one of these\n1. '>'\n2. '<'\n3. 'between'\n\n>💡 __Note__\n>\n>To add the payment methods you will need to get the payment methods list from [Payment](../~1payment~1methods/get) Endpoint",
        "operationId": "Create-Group",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerGroupRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "VIPCustomers",
                    "conditions": [
                      {
                        "type": "total_sales",
                        "symbol": ">",
                        "value": 100
                      }
                    ],
                    "features": {
                      "payment_method": [
                        "credit_card",
                        "mada",
                        "bank",
                        "cod",
                        "apple_pay",
                        "stc_pay"
                      ],
                      "shipping": [
                        "all"
                      ]
                    }
                  }
                },
                "Example 1": {
                  "value": {
                    "name": "users with no orders",
                    "conditions": [
                      {
                        "type": "doesnt_have_orders"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New customer group created Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 1394760126,
                        "name": "VIPCustomers"
                      }
                    }
                  },
                  "Example 1": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 21314237,
                        "name": "users with no orders"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/groups/add_customers": {
      "post": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "Add Customers To Group Customers",
        "description": "This endpoint allows you to add customers to a specific customer groups.",
        "operationId": "post-customers-groups-add_customers",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/groups_add_customers_body"
              },
              "examples": {
                "Example": {
                  "value": {
                    "group_id": 667738032,
                    "customers": [
                      447121768,
                      1761729493
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        "The customers has been added to group successfully"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "error",
                        "message": "alert.invalid_fields",
                        "fields": {
                          "group_id": [
                            "حقل group id مطلوب."
                          ],
                          "customers": [
                            "حقل customers مطلوب."
                          ]
                        }
                      }
                    }
                  },
                  "Example 2": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "error",
                        "message": "alert.invalid_fields",
                        "fields": {
                          "group_id": [
                            "يجب أن يكون حقل group id عددًا صحيحًا"
                          ],
                          "customers.0": [
                            "حقل customers.0 غير صالح"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/groups/default": {
      "post": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "Update Default Group",
        "description": "Each new customer is added automatically to the default customer group, You can update the default customer group from this Endpoint\n\n>💡 __Note__\n>\n>You can change only group features ( payment methods - shipping methods )",
        "operationId": "Update-Default-Group",
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerGroupDefaultRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "features": {
                      "payment_method": [
                        "credit_card",
                        "mada",
                        "bank",
                        "cod",
                        "apple_pay",
                        "stc_pay"
                      ],
                      "shipping": [
                        "all"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Default customer group updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupDefaultResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 201,
                      "success": true,
                      "data": {
                        "message": "The default group has been updated successfully",
                        "code": 201
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/groups/{group}": {
      "put": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "Update Group",
        "description": "This Endpoint allows you to update a customer group by providing the ID of the group you want to update in the *group* path parameter.",
        "operationId": "Update-Group",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The Customer Group ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 21231323141
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerGroupRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "name": "VIP",
                    "conditions": [
                      {
                        "type": "total_sales",
                        "symbol": "between",
                        "min_value": 100,
                        "max_value": 500
                      }
                    ],
                    "features": {
                      "payment_method": [
                        "credit_card",
                        "mada",
                        "bank",
                        "cod",
                        "apple_pay",
                        "stc_pay"
                      ],
                      "shipping": [
                        "all"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer group details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGroupResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 21314237,
                        "name": "VIP"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customer Groups"
        ],
        "summary": "Delete Group",
        "description": "This Endpoint allows you to delete a customer group by providing the ID of the group you want to delete in the *group* path parameter.\n\n\n>💡 __Note__\n>\n>Group members will be removed automatically from this group only.",
        "operationId": "Delete-Group",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The Customer Group ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 21231323141
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object Deleted Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 202,
                      "success": true,
                      "data": {
                        "message": "The Object has been removed successfully",
                        "code": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/customers/import": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Import Customers",
        "description": "This endpoint allows you to import products from an Excel file. Check this [article](https://help.salla.sa/article/1082536000) for more.\n\n",
        "operationId": "post-customers-import",
        "requestBody": {
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/customers_import_body"
              },
              "examples": {
                "Example": {
                  "value": {
                    "file": "Salla Customers.xlsx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "message": "يتم حالياً معالجة الملف وسوف يستغرق بعض الوقت",
                        "code": 200
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "error",
                        "message": "الملف المرفوع فارغ!"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CustomersReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/webhooks/subscribe": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register Webhook",
        "description": "Registering a new webhook is to notify/update/delete an external service when an event has occurred. \n\nTo trigger your webhook to send data, You can choose one event from the list of events which You can get from the [List Events](https://docs.salla.dev/docs/merchent/ZG9jOjI0NTE3NDg1-webhook#list-of-events) Endpoint. \n\n>💡 __Note__\n>\n> ✅ New subscriptions with the same URL and event updates/restore old webhooks (if exist) <br>\n> ✅ Added URL must allow POST requests <br>\n> ✅ By default, all new registered webhooks will be set as version `2`. If you want to use version `1` of the webhook, pass that in your request parameter.\n\nRead more on Webhooks [here](https://salla.dev/blog/webhooks-101/).",
        "operationId": "Create-webhook",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhooks_subscribe_body"
              },
              "examples": {
                "Webhook V2": {
                  "value": {
                    "name": "Salla Update Customer Event",
                    "event": "customer.updated",
                    "url": "https://webhook.site/07254470-c763-4ee3-bef1-ab2480262814",
                    "version": 2,
                    "rule": "payment_method = mada OR price < 50",
                    "headers": [
                      {
                        "key": "Your Secret token key name",
                        "value": "Your Secret token value"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New webhook has been registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                },
                "examples": {
                  "Webhook V2": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 60587520,
                        "name": "Salla Update Customer Event",
                        "event": "customer.updated",
                        "url": "https://webhook.site/07254470-c763-4ee3-bef1-ab2480262814",
                        "version": 2,
                        "rule": "payment_method = mada OR price < 50",
                        "headers": {
                          "Authorization": "abcd1234",
                          "Accept-Language": "AR"
                        }
                      }
                    }
                  },
                  "Webhook V1": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 60587520,
                        "name": "Salla Update Customer Event",
                        "event": "customer.updated",
                        "url": "https://webhook.site/07254470-c763-4ee3-bef1-ab2480262814",
                        "headers": {
                          "Authorization": "abcd1234",
                          "Accept-Language": "AR"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_422"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "error",
                        "message": "alert.invalid_fields",
                        "fields": {
                          "url": [
                            "لابد أن يكون الرابط صالح وفعّال (لا يحتوي على localhost أو test.)"
                          ],
                          "event": [
                            "حقل event غير صالحٍ"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "WebhooksReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Active Webhooks",
        "description": "This endpoint allows you to list all available, registered, and active webhooks related to the store.\n\n",
        "operationId": "get-webhooks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 831980095,
                          "name": "Customer Login",
                          "event": "customer.login",
                          "version": 2,
                          "rule": "first_name = `User`",
                          "url": "https://webhook.site/ae7ff328-b54d-42d0-bc7c-94673cd2e982",
                          "headers": {
                            "Authorization": "Your Secret token",
                            "Accept-Language": "AR"
                          }
                        },
                        {
                          "id": 723871159,
                          "name": "Product Created",
                          "event": "product.created",
                          "version": 2,
                          "rule": "total > 100",
                          "url": "https://webhook.site/ae7ff328-b54d-42d0-bc7c-94673cd2e982",
                          "headers": {
                            "Authorization": "Your Secret token",
                            "Accept-Language": "AR"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "WebhooksReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Events",
        "description": "You can list all the available events that can be used in registering webhooks from this endpoint.\n\nLook more into Webhook Events from [here](https://docs.salla.dev/docs/merchent/ZG9jOjI0NTE3NDg1-webhook#list-of-events).",
        "operationId": "List-Events",
        "responses": {
          "200": {
            "description": "A successful call returns a payload that contains a current list of the available webhooks events.\n\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 1473353380,
                          "label": "تم إنشاء طلب",
                          "event": "order.created"
                        },
                        {
                          "id": 566146469,
                          "label": "تم تحديث بيانات طلب",
                          "event": "order.updated"
                        },
                        {
                          "id": 1939592358,
                          "label": "تم إنشاء منتج",
                          "event": "product.created"
                        },
                        {
                          "id": 1298199463,
                          "label": "تم تحديث بيانات منتج",
                          "event": "product.updated"
                        },
                        {
                          "id": 525144736,
                          "label": "تم حذف منتج",
                          "event": "product.deleted"
                        },
                        {
                          "id": 1764372897,
                          "label": "تمت إضافة عميل",
                          "event": "customer.created"
                        },
                        {
                          "id": 989286562,
                          "label": "تم تحديث بيانات عميل",
                          "event": "customer.updated"
                        },
                        {
                          "id": 349994915,
                          "label": "تمت إضافة تصنيف",
                          "event": "category.created"
                        },
                        {
                          "id": 1723506348,
                          "label": "تم تحديث بيانات تصنيف",
                          "event": "category.updated"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "WebhooksReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/webhooks/unsubscribe": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Deactivate Webhook",
        "description": "This endpoint allows you to unsubscribe/deactivate a webhook from the active webhooks list at your store. \n\nYou can define which webhook to delete by using `url` and/or `id` query parameters.\n\nUsing `url` will delete all registered webhooks to this URL.",
        "operationId": "Delete-webhook",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Webhook ID. `requiredif` no URL passed.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 366577905
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Webhook registered URL. `requiredif` no ID is passed.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "https://webhook.site/07254470-c763-4ee3-bef1-ab2480262814"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Object Deleted Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 202,
                      "success": true,
                      "data": {
                        "message": "The Object has been removed successfully",
                        "code": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "error",
                        "message": "alert.invalid_fields",
                        "fields": {
                          "id": [
                            "يجب أن يكون حقل id عددًا صحيحًا"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "WebhooksReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/carts/abandoned": {
      "get": {
        "tags": [
          "Abandoned Carts"
        ],
        "summary": "List Abandoned Carts",
        "description": "An abandoned cart occurs when a customer adds an item to their cart and didn't complete the purchase.\n\nSalla helps you by providing a list of abandoned carts that contains all the needed data that you can use to help customers continue the purchasing process.",
        "operationId": "List-Abandoned-Carts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Pagination page number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "returns all the carts created within or before an offset time. EX: `15` minutes",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "example": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call returns a payload that contains a current list of abandoned carts details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartsResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 593037684,
                          "total": {
                            "amount": 1428,
                            "currency": "SAR"
                          },
                          "subtotal": {
                            "amount": 1500,
                            "currency": "SAR"
                          },
                          "total_discount": {
                            "amount": 0,
                            "currency": "SAR"
                          },
                          "checkout_url": "https://robbama.com/checkout/593037684",
                          "age_in_minutes": 8821,
                          "created_at": {
                            "date": "2022-01-19 12:19:23.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "updated_at": {
                            "date": "2022-01-24 13:49:36.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "customer": {
                            "id": 1052347477,
                            "name": "Ayah test",
                            "mobile": "+966555555555",
                            "email": "Test@gmail.com",
                            "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                            "country": "السعودية",
                            "city": "الرياض"
                          },
                          "coupon": {
                            "id": 2036833834,
                            "code": "wizefriend",
                            "status": "active",
                            "type": "percentage",
                            "amount": {
                              "amount": 20,
                              "currency": "SAR"
                            },
                            "minimum_amount": {
                              "amount": 0,
                              "currency": "SAR"
                            },
                            "expiry_date": "2022-04-13 00:00:00",
                            "created_at": {
                              "date": "2022-01-24 13:47:47.000000",
                              "timezone_type": 3,
                              "timezone": "Asia/Riyadh"
                            }
                          },
                          "items": [
                            {
                              "id": 1372409436,
                              "product_id": 91502809,
                              "quantity": 1
                            }
                          ]
                        },
                        {
                          "id": 671874753,
                          "total": {
                            "amount": 200,
                            "currency": "SAR"
                          },
                          "subtotal": {
                            "amount": 200,
                            "currency": "SAR"
                          },
                          "total_discount": {
                            "amount": 0,
                            "currency": "SAR"
                          },
                          "checkout_url": "https://robbama.com/checkout/671874753",
                          "age_in_minutes": 21347,
                          "created_at": {
                            "date": "2022-01-10 19:32:36.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "updated_at": {
                            "date": "2022-01-23 15:41:42.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "customer": {
                            "id": 1817971299,
                            "name": "كنان عبيدات",
                            "mobile": "+962777757691",
                            "email": "Test@gmail.com",
                            "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                            "country": "الأردن",
                            "city": "عمان"
                          },
                          "coupon": {
                            "id": 634339366,
                            "code": "C-34qllb",
                            "status": "active",
                            "type": "fixed",
                            "amount": {
                              "amount": 20,
                              "currency": "SAR"
                            },
                            "minimum_amount": {
                              "amount": 0,
                              "currency": "SAR"
                            },
                            "expiry_date": "2022-01-29 15:40:00",
                            "created_at": {
                              "date": "2022-01-23 15:41:42.000000",
                              "timezone_type": 3,
                              "timezone": "Asia/Riyadh"
                            }
                          },
                          "items": [
                            {
                              "id": 970730668,
                              "product_id": 925064732,
                              "quantity": 1
                            }
                          ]
                        },
                        {
                          "id": 86422478,
                          "total": {
                            "amount": 230,
                            "currency": "SAR"
                          },
                          "subtotal": {
                            "amount": 200,
                            "currency": "SAR"
                          },
                          "total_discount": {
                            "amount": 0,
                            "currency": "SAR"
                          },
                          "checkout_url": "https://robbama.com/checkout/86422478",
                          "age_in_minutes": 33434,
                          "created_at": {
                            "date": "2022-01-02 10:06:23.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "updated_at": {
                            "date": "2022-01-23 15:41:42.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "customer": {
                            "id": 881264900,
                            "name": "User Name",
                            "mobile": "+966555555555",
                            "email": "Test@gmail.com",
                            "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                            "country": "السعودية",
                            "city": "جدة"
                          },
                          "coupon": {
                            "id": 2006216487,
                            "code": "C-symYE1",
                            "status": "active",
                            "type": "fixed",
                            "amount": {
                              "amount": 20,
                              "currency": "SAR"
                            },
                            "minimum_amount": {
                              "amount": 0,
                              "currency": "SAR"
                            },
                            "expiry_date": "2022-01-29 15:40:00",
                            "created_at": {
                              "date": "2022-01-23 15:41:42.000000",
                              "timezone_type": 3,
                              "timezone": "Asia/Riyadh"
                            }
                          },
                          "items": [
                            {
                              "id": 1647457026,
                              "product_id": 226076344,
                              "quantity": 1
                            }
                          ]
                        },
                        {
                          "id": 2110688866,
                          "total": {
                            "amount": 29,
                            "currency": "SAR"
                          },
                          "subtotal": {
                            "amount": 29,
                            "currency": "SAR"
                          },
                          "total_discount": {
                            "amount": 0,
                            "currency": "SAR"
                          },
                          "checkout_url": "https://robbama.com/checkout/2110688866",
                          "age_in_minutes": 50563,
                          "created_at": {
                            "date": "2021-12-21 12:36:52.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "updated_at": {
                            "date": "2022-01-23 15:41:42.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "customer": {
                            "id": 1818965688,
                            "name": "User Name",
                            "mobile": "+978912345678",
                            "email": "Test@gmail.com",
                            "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                            "country": "السعودية",
                            "city": "مكة"
                          },
                          "coupon": {
                            "id": 1098026528,
                            "code": "C-rKflXv",
                            "status": "active",
                            "type": "fixed",
                            "amount": {
                              "amount": 20,
                              "currency": "SAR"
                            },
                            "minimum_amount": {
                              "amount": 0,
                              "currency": "SAR"
                            },
                            "expiry_date": "2022-01-29 15:40:00",
                            "created_at": {
                              "date": "2022-01-23 15:41:42.000000",
                              "timezone_type": 3,
                              "timezone": "Asia/Riyadh"
                            }
                          },
                          "items": [
                            {
                              "id": 542351249,
                              "product_id": 702436620,
                              "quantity": 1
                            }
                          ]
                        },
                        {
                          "id": 503605208,
                          "total": {
                            "amount": 10,
                            "currency": "SAR"
                          },
                          "subtotal": {
                            "amount": 10,
                            "currency": "SAR"
                          },
                          "total_discount": {
                            "amount": 0,
                            "currency": "SAR"
                          },
                          "checkout_url": "https://robbama.com/checkout/503605208",
                          "age_in_minutes": 83125,
                          "created_at": {
                            "date": "2021-11-28 21:55:10.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "updated_at": {
                            "date": "2022-01-23 15:41:42.000000",
                            "timezone_type": 3,
                            "timezone": "Asia/Riyadh"
                          },
                          "customer": {
                            "id": 1141553241,
                            "name": "User Name",
                            "mobile": "+966555555555",
                            "email": "Test@gmail.com",
                            "avatar": "https://i.ibb.co/jyqRQfQ/avatar-male.webp",
                            "country": "السعودية",
                            "city": "المدينة"
                          },
                          "coupon": {
                            "id": 325037345,
                            "code": "C-RVrZpi",
                            "status": "active",
                            "type": "fixed",
                            "amount": {
                              "amount": 20,
                              "currency": "SAR"
                            },
                            "minimum_amount": {
                              "amount": 0,
                              "currency": "SAR"
                            },
                            "expiry_date": "2022-01-29 15:40:00",
                            "created_at": {
                              "date": "2022-01-23 15:41:42.000000",
                              "timezone_type": 3,
                              "timezone": "Asia/Riyadh"
                            }
                          },
                          "items": [
                            {
                              "id": 306389580,
                              "product_id": 925064732,
                              "quantity": 1
                            }
                          ]
                        }
                      ],
                      "pagination": {
                        "count": 6,
                        "total": 6,
                        "perPage": 15,
                        "currentPage": 1,
                        "totalPages": 1,
                        "links": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "CartsReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/taxes": {
      "get": {
        "tags": [
          "Taxes"
        ],
        "summary": "List Taxes",
        "description": "This endpoint allows you to list all available taxes for your store.",
        "operationId": "List-Taxes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The Pagination page number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful call returns a payload that contains a current list of Taxes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxesResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": [
                        {
                          "id": 2087347200,
                          "tax": 5,
                          "status": "active",
                          "country": "Bahrain"
                        }
                      ],
                      "pagination": {
                        "count": 1,
                        "total": 1,
                        "perPage": 15,
                        "currentPage": 1,
                        "totalPages": 1,
                        "links": []
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "TaxesReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "post": {
        "tags": [
          "Taxes"
        ],
        "summary": "Create Tax",
        "description": "This endpoint allows you to create a new tax and return the corresponding tax id.\n\nYou must add tax rate and specify which country that tax will be applied to by providing a country id.\n\n>Note: you can get country id from [List Countries](../~1countries/get) Endpoint.",
        "operationId": "Create-Tax",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "tax": "15",
                    "country_id": 773200552
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New Tax created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2087347200,
                        "tax": 5,
                        "status": "active",
                        "country": "Bahrain"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "TaxesReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/taxes/{tax}": {
      "get": {
        "tags": [
          "Taxes"
        ],
        "summary": "Tax Details",
        "description": "This endpoint allows you to return the complete details for specific tax by providing the ID of the tax you want to get its details in the *tax* path parameter.",
        "operationId": "Tax-Details",
        "parameters": [
          {
            "name": "tax",
            "in": "path",
            "description": "The Tax ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1473353380
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tax details returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2087347200,
                        "tax": 5,
                        "status": "active",
                        "country": "Bahrain"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "TaxesReadOnly"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "put": {
        "tags": [
          "Taxes"
        ],
        "summary": "Update Tax",
        "description": "This endpoint allows you to update an existing tax by providing the ID of the tax you want to update in the *tax* path parameter.",
        "operationId": "Update-Tax",
        "parameters": [
          {
            "name": "tax",
            "in": "path",
            "description": "The Tax ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1473353380
            }
          }
        ],
        "requestBody": {
          "description": "",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TaxRequest"
              },
              "examples": {
                "Example": {
                  "value": {
                    "tax": "15",
                    "country_id": 773200552
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 200,
                      "success": true,
                      "data": {
                        "id": 2087347200,
                        "tax": 5,
                        "status": "active",
                        "country": "Bahrain"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failure response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 422,
                      "success": false,
                      "error": {
                        "code": "validation_failed",
                        "message": "null",
                        "fields": {
                          "{field-name}": [
                            "The {field-label} field is required."
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "TaxesReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      },
      "delete": {
        "tags": [
          "Taxes"
        ],
        "summary": "Delete Tax",
        "description": "This endpoint allows you to delete an existing tax by providing the ID of the tax you want to delete in the *tax* path parameter.",
        "operationId": "Delete-Tax",
        "parameters": [
          {
            "name": "tax",
            "in": "path",
            "description": "The Tax ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1473353380
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object Deleted Successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSuccessResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "status": 202,
                      "success": true,
                      "data": {
                        "message": "The Object has been removed successfully",
                        "code": 202
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "success": false,
                      "status": 404,
                      "error": {
                        "code": 404,
                        "message": "The content you are trying to access is no longer available"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": [
              "TaxesReadWrite"
            ]
          }
        ],
        "servers": [
          {
            "url": "https://api.salla.dev/admin/v2",
            "description": "Production"
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List Orders",
        "description": "You can list all orders related to your store directly from this endpoint. Also, it allows you to filter them using a different set of optional parameters.",
        "operationId": "List-Orders",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "<br>- `customer.mobile` | 966511804534 <br>- `customer.name` | Del John <br>- `shipping_number` | Find a specific shipment by its ID from [here](https://docs.salla.dev/docs/merchant/ef30fb0e90b00-list-order-shipments) <br>- `reference_id` | 613398835 <br>- `tag_name` | Find a specific tag by its name from [here](https://docs.salla.dev/docs/merchant/c301cfb379e20-list-tags)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "Find orders for specific payment method. List of available payment methods can be found [here](https://docs.salla.dev/docs/merchant/a29a42ec19038-available-methods)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "example": "[\"credit_card\",\"paypal\",\"mada\",\"bank\"]"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Find orders for specific status (array of ID integers). List of statuses can be found [here](https://docs.salla.dev/docs/merchant/a236a8974fa22-list-order-statuses)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "example": "[\"creating\", \"created\", \"pending\", \"delivered\", \"returned\", \"in_progress\", \"cancelled\"]"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Find orders created after a specific date.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "30-12-2022"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Find orders created before a specific date.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "31-12-2022"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Integer find orders for specific country. List of countries can be found [here](https://docs.salla.dev/docs/merchant/b3A6ODUwMzM4-list-countries)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "example": 1473353380
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Find orders for specific city. List of cities can be found [here](https://docs.salla.dev/docs/merchant/b3A6NTU1Nzc3OA-list-cities)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "جدة"
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Find orders for specific product via its `name` variable. List of products can be found [here](https://docs.salla.dev/docs/merchant/b3A6MTMzOTUw-list-products)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "branch",
            "in": "query",
            "description": "Find orders for specific branch (array of integers). List of branches can be found [here](https://docs.salla.dev/docs/merchant/b3A6Njk2Njg5-list-branches)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "example": 566146469
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Find orders for specific tags (array of ID integers). List of tags can be found here [here](https://docs.salla.dev/docs/merchant/b3A6NTU1Nzc3OQ-list-tags)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "example": "[665151403, 231654217, 91003218]"
            }
          },
          {
            "name": "expanded",
            "in": "query",
[...]
