/**
 {{#appName}}
 * {{{.}}}
 *
 {{/appName}}
 {{#appDescription}}
 * {{{.}}}
 *
 {{/appDescription}}
 {{#version}}
 * The version of this document: {{{.}}}
 {{/version}}
 {{#infoEmail}}
 * Contact: {{{.}}}
 {{/infoEmail}}
 */
